
.buttons{
    width: 175px;
    height: 60px;
    
    border: none;
    -webkit-transition: all 1.5s;
    transition: all 1.5s;
    font-size: 28px;
    font-weight: 400;
    border-radius: 15px;
}
